body {
  padding: 0;
  margin: 0;
}

.banner {
  width: 100%;
  background: #18bc9c;
  height: 40px;
  padding-top: 10px;
  margin-bottom: 15px;
} 

.menu-avatar {
  width: 35px;
  margin-right: 10px;
}

.grid {
  width: 100%;
}

.wrapper {
  width: 50%;
  margin: auto;
  padding-top: 30px;
}

.form-inline > * {
  margin-right: 5px;
}

.item-image {
  float: left;
  margin-right: 10px;
}

.item-meta {
  height: 50px;
  display: inline-block;
}

.item-container {
  margin-top: 10px;
}

.item-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
}

.comment-form {
  width: 250px !important;
}

.comment-form textarea, .content textarea {
  min-height: 65px !important;
  height: 65px !important;
  padding: 0.4em 0.5em !important;
  margin-bottom: 5px !important;
}
